
<form action='/recipes' method="post">
    <div>
        <label for="box1">Nom de la recette :</label>
        <input type="text" id="box1" placeholder="Cake,..." name="name">
    </div>
    <br>
    <div>
        <label for="box2">Note de la recette (de 0 à 5) : </label>
        <div>
          <input type="range" min="0" max="5" step="1" list="marks" placeholder="./5" id="box2" name="rating">
          <datalist id="marks">
            <option value="0" label="0">
            <option value="1" label="1">
            <option value="2" label="2">
            <option value="3" label="3">
            <option value="4" label="4">
            <option value="5" label="5">
          </datalist>
        </div>
    </div>
    <br>
    <div>
        <label for="box3">Temps de préparation de la recette (en min) : </label>
        <input type="number" min="0" max="500" step= "5" id="time" name="time">
    </div>
    <br>
    <div>
        <label for="box4">Temps de préparation de la recette : </label>
        <textarea id="box4" name="description" placeholder="description de la recette"></textarea>
    </div>
    <div class="button">
        <button type="submit">Envoyer la recette</button>
    </div>
</form>
<br>
<a href="/">Retour à la liste</a>
